<!DOCTYPE html>
{% load static from staticfiles %}
<html>
	<head>
		<title>{% block title %}Template{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		{% block extend-head %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <p class="brand">Cookbook</p>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li><a href="{% url home %}">Home</a></li>
	              <li><a href="{% url recipe-user %}">My Recipes</a></li>
	              <li><a href="{% url recipe-fav %}">Favorites</a></li>
	            </ul>
	            {% if user.is_authenticated %}
	            <p class="navbar-text pull-right">Welcome, {{ user.username }} <a href="{% url logout %}">[Logout]</a></li>
	            {% endif %}
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
	    
		<div id="body" class="container">
			{% block body %}{% endblock %}
		</div>
		<script src="//code.jquery.com/jquery-1.9.1.js"></script>"
		<script src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script src="{% static 'js/holder.js' %}"></script>
		{% block extend-js %}{% endblock %}
	</body>
</html>