{% extends "base.html" %}

{% block title %}New Recipe{% endblock %}

{% block extend-head %}
<script type="application/javascript">
	$(function() {
		$('.sortable').sortable();
		$('.sortable').disableSelection();
		$('#add_ingredient').click(function(){
			$.get('{% url recipe-new-ingredient %}',function(data){
				addNewForm('{{ ingredient_formset.prefix }}',data);
				$('.remove-ingredient').click(function(){
					var $total_forms = $('#id_{{ ingredient_formset.prefix }}'+
						'-TOTAL_FORMS');
					var num_forms = $total_forms.val();
					$total_forms.val(--num_forms);
					$(this).parent().parent().remove();
					return false;
				});
			});
			return false;
		});
		$('#add_step').click(function(){
			$.get('{% url recipe-new-step %}',function(data){
				addNewForm('{{ recipe_step_formset.prefix }}',data);
				$('.remove-step').click(function(){
					var $total_forms = $('#id_{{ recipe_step_formset.prefix }}'+
						'-TOTAL_FORMS');
					var num_forms = $total_forms.val();
					$total_forms.val(--num_forms);
					$(this).parent().remove();
					return false;
				});
			});
			return false;
		});
		$('#add_recipe_form').submit(function(){
			$('#ingredients > tbody > tr').each(getOrder);
			$('#recipe_steps > li').each(getOrder);
		});
	});
	/*
	 * 
	 */
	function getOrder(index,Element){
		var order = $(Element).children('input[name*="order"]')[0];
		$(order).val(index);
	}
	/*
	 * Adds new form for formset with prefix prefix
	 */
	function addNewForm(prefix,data){
		$total_forms = $('#id_'+prefix+'-TOTAL_FORMS');
		var forms = $total_forms.val();
		var re = /__prefix__/;
		while(re.test(data)){
			data = data.replace(re,forms);
		}
		$('#'+prefix).append(data);
		$total_forms.val(++forms);
	}
</script>
{% endblock %}

{% block body %}
<form id="add_recipe_form" action="{% url recipe-new %}" method="post">
	{% csrf_token %}
	{% for field in recipe_form %}
		<div class="form-field">
			{{ field.errors }}
			<div>{{ field.label_tag}}</div>
			<div>{{ field }}</div>
		</div>
	{% endfor %}
	<h2>Ingredients</h2>
	<table id='ingredients'>
		<thead>
			<th>Amount</th>
			<th></th>
			<th>Ingredient Name</th>
		</thead>
		{{ ingredient_formset.management_form }}
		{% for form in ingredient_formset %}
		<tr>
			{{ form.order }}
			<td class='ingredient-amount'>{{ form.amount }}</td>
			<td>{{ form.unit }}</td>
			<td class="ingredient-name">{{ form.name }}</td>
		</tr>	
		{% endfor %}
	</table>
	<a id="add_ingredient" href="">Add Ingredient</a>
	<h2>Steps</h2>
	<ol id="recipe_steps" class="sortable">
		{{ recipe_step_formset.management_form }}
		{% for form in recipe_step_formset %}
		<li class="recipe-step">
			{{ form.order }}
			{{ form.step }}
		</li>
		{% endfor %}
	</ol>
	<a id="add_step" href="">Add step</a>
	<p><input type="submit" value="Add Recipe" /></p>
</form>
{% endblock %}
