{% extends "base.html" %}

{% block title %}New Recipe{% endblock %}

{% block body %}
<div class="hero-unit">
	<h2>New Recipe</h2>

<form id="add_recipe_form" action="{% url recipe-new %}" method="post">
	{% csrf_token %}
	{% for field in recipe_form %}
		<div class="form-field">
			{{ field.errors }}
			<div>{{ field.label_tag}}</div>
			<div>{{ field }}</div>
		</div>
	{% endfor %}
	<h3>Ingredients</h3>
	{{ ingredient_formset.management_form }}
	<table id="ingredients" class="table">
		<thead>
			<th class="span2">Amount</th>
			<th />
			<th class="span2">Ingredient Name</th>
		</thead>
		<tbody>
			{% for form in ingredient_formset %}
				{% include "addIngredient.html" %}
			{% endfor %}
		</tbody>
	</table>
	<a id="add_ingredient" class="btn" href=""><i class="icon-plus-sign"></i>Add Ingredient</a>
	<h3>Steps</h3>
	{{ recipe_step_formset.management_form }}
	<ul id="recipe_steps" class="sortable unstyled">
		{% for form in recipe_step_formset %}
			{% include "addRecipeStep.html" %}
		{% endfor %}
	</ul>
	<a id="add_step" class="btn" href=""><i class="icon-plus-sign"></i>Add step</a>
	
	<div class="form-actions">
		<input type="submit" value="Add Recipe" />
	</div>
</form>
</div>
{% endblock %}

{% block extend-js %}
<script type="application/javascript">
<!--
	$(function() {
		$('.sortable').sortable();
		$('.sortable').disableSelection();
		$('#add_ingredient').click(function(){
			$.get('{% url recipe-new-ingredient %}',function(data){
				addNewForm('{{ ingredient_formset.prefix }}',data);
				$('.remove-ingredient').click(function(){
					var $total_forms = $('#id_{{ ingredient_formset.prefix }}'+
						'-TOTAL_FORMS');
					var num_forms = $total_forms.val();
					$total_forms.val(--num_forms);
					$(this).parent().parent().remove();
					return false;
				});
			});
			return false;
		});
		$('#add_step').click(function(){
			$.get('{% url recipe-new-step %}',function(data){
				addNewForm('{{ recipe_step_formset.prefix }}',data);
				$('.remove-step').click(function(){
					var $total_forms = $('#id_{{ recipe_step_formset.prefix }}'+
						'-TOTAL_FORMS');
					var num_forms = $total_forms.val();
					$total_forms.val(--num_forms);
					$(this).parent().remove();
					return false;
				});
			});
			return false;
		});
		$('#add_recipe_form').submit(function(){
			$('#ingredients > tbody > tr').each(getOrder);
			$('#recipe_steps > li').each(getOrder);
		});
	});
	/*
	 * 
	 */
	function getOrder(index,Element){
		var order = $(Element).children('input[name*="number"]')[0];
		$(order).val(index);
	}
	/*
	 * Adds new form for formset with prefix prefix
	 */
	function addNewForm(prefix,data){
		$total_forms = $('#id_'+prefix+'-TOTAL_FORMS');
		var forms = $total_forms.val();
		var re = /__prefix__/;
		while(re.test(data)){
			data = data.replace(re,forms);
		}
		$('#'+prefix).append(data);
		$total_forms.val(++forms);
	}
-->
</script>
{% endblock %}
